footer{
    height: 40px;
    color: white;
    padding: 0 10px;
}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
}

.color-primary{
    background-color:rgb(93.7%, 9.8%, 79%);
}