*{
    box-sizing: border-box;
}
main{
    margin-bottom: 40px;
}

.listadoUsuario {
    text-align: center;
    margin: auto;
}

.listadoPosteo {
    text-align: center;
    margin: auto;
    margin-top: 0px;
}