@import url('href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Raleway:ital,wght@1,300&family=Roboto+Slab:wght@600&display=swap');

.text-create{
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Slab', serif;  

    text-align: center;
}

.formCreaUsuario {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.inputCreaUsuario {
    padding: 5px;
    margin: 5px;
}