<link rel="stylesheet" href="/stylesheets/footer.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<footer class="color-primary uk-flex uk-flex-between uk-flex-middle fixed-bottom">
    <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li><a href="" uk-icon="instagram"></a></li>
        <li><a href="" uk-icon="facebook"></a></li>
        <li><a href="" uk-icon="twitter"></a></li>
    </ul>
    <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li>Mateo Pizzolo</li>
        <li>Bruno Tojeiro</li>
    </ul>
</footer>