<link rel="stylesheet" href="/stylesheets/header.css">

<header class="color-primary">
    <section class=" uk-container uk-container-large">
        <div class="">
            <nav class="" uk-navbar>
                <div class="uk-navbar-left">
                    <h2 class="logo"><a href="/">FakeBook</a></h2>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-flex uk-flex-between uk-flex-middle navbar-titles">
                        <li><a href="/">Home</a></li>
                        <li><a href="/posts">Postear</a></li>
                        <li><a href="/perfil">Perfil</a></li>
                        <li><a href="/users/">Logout</a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-flex uk-flex-between uk-flex-middle">
                        <li>
                            <form action="/usuario/search" method="GET" class="uk-search uk-search-default">
                                <span uk-search-icon></span>
                                <input type="search" name="searchName" class="uk-search-input" placeholder="Buscar...">
                            </form>
                        </li>
                    </ul>
                    <% if (locals.user) { %> 
                         <p class="navbar-titles usuarioLogueado"> <%= locals.user.username %></p>
                    <% } %> 
                </div>
            </nav>
        </div>
    </section>
</header>

