<%- include('./partials/headerLogueado') %> 

<main>
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large uk-flex">
            <form action="" method="POST" class="form-upload">
                <input type="file"  name="addPost"> <br>
                <input type="text"  name="titulo" placeholder="Escriba aqui.."> <br>
                <input type="submit" name="submitPost" id="submitPost"> 
            </form>

        </div>
    </div>
</main>

<%- include('./partials/footer') %> 
