<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeBook</title>
    <link rel="icon"
        href="https://w7.pngwing.com/pngs/624/811/png-transparent-computer-icons-facebook-social-media-f-logo-cross-brand.png"
        type="image/x-icon">

        <link rel="stylesheet" href="/stylesheets/registracion.css">
        <link rel="stylesheet" href="/stylesheets/general.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- UiKit -->
    <!-- <link rel="stylesheet" href="css/uikit.min.css">
    <script src="js/uikit-icons.min.js"></script>
    <script src="js/uikit.min.js"></script> -->
    <!-- UiKit -->

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.5/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    

    <%- include('./partials/headerDeslogueado') %> 


    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                
                <form action="/register" method="POST">
                    <h2 class="text-create">Crea un usuario</h2>

                    <div class="formCreaUsuario">
                        <input class="inputCreaUsuario" type="text" placeholder="name" name="name" id="name" required>
                        <input class="inputCreaUsuario" type="text" placeholder="email" name="email" required>
                        <input class="inputCreaUsuario" type="password" placeholder="password" name="password" required>
                        <input class="inputCreaUsuario" type="date" placeholder="fecha de nacimiento" name="birthDate" required> 
                        <p>Falta pregunta de seguridad</p>
                    </div>      

                    <input type="submit" class="btn btn-primary btn-lg" value="submit">

                </form>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %> 


</body>

</html>